.delay1 {
  -webkit-animation: waves 2.5s linear infinite; /* Add 'infinite' here */
  animation: waves 2.5s linear infinite; /* Add 'infinite' here */
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.delay2 {
  -webkit-animation: waves 2.5s linear 0.7s forwards infinite; /* Add 'infinite' here */
  animation: waves 2.5s linear 0.7s forwards infinite; /* Add 'infinite' here */
}
.delay3 {
  -webkit-animation: waves 2.5s linear 1.3s forwards infinite; /* Add 'infinite' here */
  animation: waves 2.5s linear 1.3s forwards infinite; /* Add 'infinite' here */
}
.delay4 {
  -webkit-animation: waves 2.5s linear 1.9s forwards infinite; /* Add 'infinite' here */
  animation: waves 2.5s linear 1.9s forwards infinite; /* Add 'infinite' here */
}

/* .circle {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: red;
  transition: 5s ease;
} */

@-webkit-keyframes waves {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

@keyframes waves {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

@-webkit-keyframes bloop {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bloop {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
