.pagination {
  cursor: pointer;
  width: 3rem;
  align-self: center;
  padding: 3px;
  border-radius: 6rem;
}
.pagination.active {
  color: #ffffff;
  background-color: #005dab;
  border-color: #005dab;
  border-radius: 6rem;
  align-items: center;
}
.export-report {
  background-color: #3796f3;
  color: white;
  font-weight: 300;
  font-size: 14px;
}
.export-report:hover {
  background-color: #0e80f1;
}